{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<div class="homepage">
    {% image page.image fill-1920x600 as image %}

    <div class="container-fluid hero" style="background-image:url('{{ image.url }}')">
        <div class="hero-gradient-mask"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-1 col-lg-5 home-hero">
                    <h1>{{ page.title }}</h1>
                    <p class="lead">{{ page.hero_text }}</p>
                    {% if page.hero_cta_link %}
                        <a href="{% pageurl page.hero_cta_link %}" class="hero-cta-link">
                            {{ page.hero_cta }}
                        </a>
                    {% else %}
                        {{ page.hero_cta }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
